{% block content %}

<div class="container">
    <a href="/mangement"class="btn btn-primary">돌아가기</a>
    <div class="card login_card">
        <div class="card-body">
            <h5 class="card-title">
              <span style=" font: Arial black  bold 4em/1em Georgia, serif ; color: black; ;">
                <h1>x 대 회장  이 정 재
                </h1>
                  <img src="/static/chairman/lee.jpg" width="279" height="378">
              </span>
            </h5>

        </div>
      </div>
</div>

{% endblock %}